<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ngFun</title>
  <script type="text/javascript" src="bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="app.js"></script>
  <link rel="stylesheet" href="bower_components/bootstrap-css-only/css/bootstrap.min.css">
</head>
<body ng-app="ngFun">
  {{  1467742467858 | date:'M/d/yy' }}
  <br>
  {{ 4*4 }}
  {{ "hola!".toUpperCase() }}
  {{ ['s','w','e','e','t','n','e','s','s'].join('') }}
<div ng-hide="false" ng-controller="PokemonCtrl">
    <p> {{ catchphrase | uppercase }} <b>{{ trainer.name || "Ash" }}</b></p>
    <div>

      <span>Enter your name:</span>
      <input ng-model="trainer.name"/>

      <pre>{{ pokemon | json }}</pre>

    </div>

  <input ng-model="filter-name"

  <table class="table table-striped">
    <tr>
      <th>Ndex</th><th>Name</th><th>Type
    </th>
    <tr ng-repeat="poke in pokemon | filter:filter-name "">
      <td>{{ poke.Ndex }}</td><td>{{ poke.name }}</td><td>{{ poke.type }}</td>
    </tr>
  </table>
</div>
</body>
</html>